[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20.9.0"
  NEXT_PUBLIC_API_URL = "https://example.com/api"

